/* ==========================================================================
   #FORM
   ========================================================================== */
   input,
   textarea {
     outline: none;
     margin: 0;
     border: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     width: 100%;
     font-size: 14px;
     font-family: inherit;
   }
   
   textarea {
     resize: none;
   }
   
   .input-group {
     position: relative;
     margin: 0;
   }
   
   .input--style-6,
   .textarea--style-6 {
     background: transparent;
     line-height: 38px;
     border: 1px solid #cccccc;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     color: #666;
     font-size: 15px;
     -webkit-transition: all 0.4s ease;
     -o-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
     transition: all 0.4s ease;
     padding: 0 20px;
   }
   
   .input--style-6::-webkit-input-placeholder,
   .textarea--style-6::-webkit-input-placeholder {
     /* WebKit, Blink, Edge */
     color: #999;
   }
   
   .input--style-6:-moz-placeholder,
   .textarea--style-6:-moz-placeholder {
     /* Mozilla Firefox 4 to 18 */
     color: #999;
     opacity: 1;
   }
   
   .input--style-6::-moz-placeholder,
   .textarea--style-6::-moz-placeholder {
     /* Mozilla Firefox 19+ */
     color: #999;
     opacity: 1;
   }
   
   .input--style-6:-ms-input-placeholder,
   .textarea--style-6:-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: #999;
   }
   
   .input--style-6:-ms-input-placeholder,
   .textarea--style-6:-ms-input-placeholder {
     /* Microsoft Edge */
     color: #999;
   }
   
   .input--style-6:focus,
   .textarea--style-6:focus {
     -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
     box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
     -webkit-transform: translateY(-3px);
     -moz-transform: translateY(-3px);
     -ms-transform: translateY(-3px);
     -o-transform: translateY(-3px);
     transform: translateY(-3px);
   }
   
   .textarea--style-6 {
     line-height: 1.2;
     min-height: 120px;
     padding: 10px 20px;
   }
   
   .label--desc {
     font-size: 13px;
     color: #999;
     margin-top: 10px;
   }
   
   @media (max-width: 767px) {
     .label--desc {
       margin-top: 14px;
     }
   }
   
   .input-file {
     display: none;
   }
   
   .input-file + label {
     font-size: 15px;
     color: #fff;
     color: white;
     line-height: 40px;
     background-color: #666666;
     padding: 0 20px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     display: inline-block;
     margin-right: 15px;
     -webkit-transition: all 0.4s ease;
     -o-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
     transition: all 0.4s ease;
     cursor: pointer;
   }
   
   .input-file:focus + label,
   .input-file + label:hover {
     background: #1b1b1b;
   }
   
   .input-file__info {
     font-size: 15px;
     color: #666;
   }
   
   @media (max-width: 767px) {
     .input-file__info {
       display: block;
       margin-top: 6px;
     }
   }
   
.container {
    max-width: auto;
}