/*---------------------------------------
      NAVBAR CSS              
  -----------------------------------------*/

.custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.custom-navbar .navbar-brand span {
    color: #4a11cf;
}

.top-nav-collapse {
    background: #ffffff;
}

.custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right .section-btn {
    display: inline-block;
    margin: 0.2em 0 0 1em;
}

.custom-navbar .navbar-nav.navbar-right .section-btn:hover {
    background: #292929;
    color: #ffffff;
}

.custom-navbar .navbar-nav.navbar-right .section-btn:focus {
    color: #ffffff;
}

.custom-navbar .navbar-nav.navbar-right .section-btn a {
    padding: 10px 25px;
}

.custom-navbar .nav .section-btn a:hover {
    color: #ffffff;
}

.custom-navbar .nav li a {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-right: 22px;
    padding-left: 22px;
    text-transform: uppercase;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #4a11cf;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active>a {
    background-color: transparent;
    color: #4a11cf;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #4a11cf;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 12px 0;
    }
    .top-nav-collapse .navbar-brand {
        color: #454545;
    }
    .top-nav-collapse .nav li a {
        color: #575757;
    }
    .top-nav-collapse .nav .section-btn a {
        color: #ffffff;
    }
}